<div class="container-fluid m t-5">
  <div class="row">
    <div class="sm-col-10 col-centered">
      <div class="navtop">
        <h1>{{ 'demo.title' | translate }}</h1>
        <button class="btn btn-light mr-5 mt-5" (click)="useLanguage('en')">English</button>
        <button class="btn btn-light mt-5" (click)="useLanguage('fr')">Français</button>
      </div>
      <p class="temp mt-5">{{ 'demo.current-temp' | translate }} : {{temps}}</p>
      <button class="btn btn-light mr-5 mt-5" (click)="switchOnLight()">{{ 'demo.switch-on-light' | translate }}</button>
      <button class="btn btn-light mt-5" (click)="switchOffLight()">{{ 'demo.switch-off-light' | translate }}</button>
      <div class="input-group mb-3 pt-5">
        <div class="input-group-append">
          <span class="input-group-text" id="code-door">{{ 'demo.door' | translate }}</span>
        </div>
        <input type="text" class="form-control" placeholder="Code" aria-label="Code" aria-describedby="code-door">
      </div>
      <button (click)="openDoor()" class="btn btn-light mt-5 ">{{ 'demo.validate'| translate }}</button>
      <br>
      <button (click)="closeDoor()" class="btn btn-light mt-5 ">{{ 'demo.close'| translate }}</button>

    </div>
  </div>
</div>


<router-outlet></router-outlet>