.col-centered{
    float: none;
    margin: 0 auto;
    background-image: linear-gradient(to right top, #486ea8, #4d72ab, #5175ae, #5679b0, #5a7db3);
    margin-top:50px;
    padding: 15px;
    border-radius: 10px;
    text-align : center;
}


.temp{
    font-size:1.2em;
    color:#e1e1e1;
}